.imdiv{
    width: 200px;
    height: 200px;
    background-color: #999;
    background: url(../images/5item.png);
}
.imdiv2{
    width: 100px;
    height: 100px;
    background-color: #999;
    background: url(../images/zs.png);
}